CREATE TABLE IF NOT EXISTS public.otps (id uuid DEFAULT gen_random_uuid() PRIMARY KEY, email text NOT NULL, code text NOT NULL, expires_at timestamptz NOT NULL, created_at timestamptz DEFAULT now());
